.tc-contact-sec {
	z-index: 1;
	margin-left: 24px;
	margin-right: 24px;
	padding-bottom: 510px;
	@media #{$xs,$xxs} {
		margin-left: 0;
		margin-right: 0;
	}
	.tc-contact-bg {
		left: 0;
		bottom: 0;
		width: 100%;
		z-index: -1;
		height: 80%;
		overflow: hidden;
		border-radius: 20px;
	}
}
.tc-contact-content {
	@media #{$md,$sm,$xs,$xxs} {
		gap: 40px;
		flex-wrap: wrap;
	}
	.tc-contact-text {
		max-width: 570px;
	}
	.tc-sec-title {
		.sec_title {
			font-size: 52px;
			@media #{$md} {
				font-size: 42px;
			}
			@media #{$sm} {
				font-size: 38px;
			}
			@media #{$xs} {
				font-size: 34px;
			}
			@media #{$xxs} {
				font-size: 30px;
			}
			@media #{$xxxs} {
				font-size: 28px;
			}
		}
	}
}
.tc-contact-form {
	padding: 40px;
	max-width: 648px;
	border-radius: 12px;
	background-color: #3CEDB7;
	border: 1px solid #0D26651F;
	box-shadow: 0px 0px 40px 0px #0D26651F;
	.item-title {
		h2 {
			color: #030F2B;
			font-size: 34px;
			font-weight: 600;
			padding-bottom: 14px;
		}
		p {
			color: #41434A;
		}
	}
	form {
		input,select,textarea {
			width: 100%;
			height: 56px;
			border: none;
			font-size: 16px;
			border-radius: 6px;
			padding-left: 22px;
			margin-bottom: 12px;
			background-color: #fff;
			color: rgba(3, 15, 43, .64);
			&::placeholder {
				font-size: 16px;
			}
		}
		select {
			appearance: none;
		}
		.item-select {
			&:before {
				top: 15px;
				right: 15px; 
				font-weight: 700;
				content: '\f107';
				position: absolute;
				font-family: 'FontAwesome';
			}
		}
		textarea {
			height: 192px;
			padding-top: 22px;
		}
		button {
			width: 100%;
			color: #fff;
			border: none;
			padding: 15px;
			font-size: 16px;
			font-weight: 600;
			border-radius: 6px;
			background-color: #135CFD;
			transition: all 300ms ease-in-out;
			&:hover {
				background-color: #000;
			}
		}
	}
}