.tc-counter-sec {
	overflow: hidden;
	margin-left: 24px;
	margin-top: -130px;
	margin-right: 24px;
	border-radius: 20px;
	@media #{$xl,$lg,$md,$sm,$xs,$xxs} {
		margin-top: 0;
		padding-top: 110px;
	}
}
.tc-counter-content {
	z-index: 1;
	.tc-count-bg {
		top: 0;
		left: 0;
		z-index: -1;
		width: 100%;
		height: 100%;
	}
}

.tc-count-text {
	max-width: 726px;
	background-color: #0D2665;
	.count-desc {
		padding: 50px 80px;
		@media #{$xs,$xxs} {
			padding: 40px 30px;
		}
		p {
			color: #fff;
			padding-left: 44px;
			position: relative;	
			padding-bottom: 30px;
			&:last-child {
				padding-bottom: 0;
			}
			&:before,
			&:after {
				top: 5px;
				left: 10px;
				width: 16px;
				content: '';
				height: 16px;
				position: absolute;
				border-radius: 100%;
				background-color: var(--tc-prime-c4);
			}
			&:before {
				left: 0px;
				background-color: rgba(255, 255, 255, .16);
			}
		}
	}
	.count-item-wrap {
		padding: 75px 60px;
		background-color: #164AC8;
		@media #{$xs,$xxs} {
			padding: 40px 30px;
		}
	}
}

.tc-count-item {
	gap: 50px;
	display: flex;
	padding: 30px 0px;
	border-bottom: 1px solid rgba(255, 255, 255, .28);
	@media #{$xs,$xxs} {
		gap: 30px;
		flex-wrap: wrap;
	}
	&:last-child {
		margin-bottom: 0;
		padding-bottom: 0;
		border-bottom: none;
	}
	.item-text {
		max-width: 400px;
		h3 {
			color: #fff;
			font-size: 20px;
			font-weight: 700;
			padding-bottom: 10px;
		}
		p {
			color: rgba(255, 255, 255, .80);
		}
	}
	h2 {
		color: #fff;
		font-size: 68px;
		font-weight: 500;
		sub {
			bottom: 0;
			font-size: 36px;
			color: var(--tc-prime-c4);
		}
	}
}