.tc-faq-sec {
	.tc-sec-title {
		margin: 0 auto;
		max-width: 830px;
	}
}

.tc-faq-content {
	width: 100%;
	margin: 0 auto;
	margin-top: 45px;
	overflow: hidden;
	max-width: 1040px;
	border-radius: 12px;
	background-color: #FFFFFF;
	@media #{$md,$sm,$xs,$xxs} {
		max-width: 100%;
	}
	.accordion-item,
	.accordion-button {
		background-color: transparent;
		transition: all 200ms ease-in-out;
	}
	.accordion-item {
		border: none;
		position: relative;
		transition: all 200ms ease-in-out;
		&:last-child {
			border-bottom: none;
		}
		@media #{$xxs} { 
			padding: 23px 15px 23px 25px;
		}
		&:is(.active) {
			margin-top: -3px;
			border-radius: 12px;
			background-color: #135CFD;
			.accordion-button {
				border-bottom: 2px dashed rgba(255, 255, 255, .40);
			}
			.accordion-body {
				color: #fff;
			}
		}
	}
	.accordion-button {
		padding: 0;
		border: none;
		font-size: 20px;
		font-weight: 400;
		position: relative;
		padding: 32px 40px;
		border-bottom: 1.5px dashed rgba(13, 38, 101, .24);
		@media #{$md,$sm,$xs,$xxs} {
			padding: 20px 15px;
		}
		span {
			max-width: 85%;
			display: inline-block;
			b {
				font-weight: 400;
				color: rgba(3, 15, 43, .32);
			}
		}
	}

	.accordion-button:focus {
		box-shadow: none;
	}
	.accordion-body {
		color: #535862;
		font-size: 18px;
		line-height: 1.667;
		padding: 30px 40px 40px;
		transition: all 500ms ease-in-out;
		@media #{$md,$sm,$xs,$xxs} {
			padding: 20px 15px;
		}
	}
	.accordion-button::after {
		top: 28px;
		right: 30px;
		opacity: .7;
		width: 32px;
		height: 32px;
		display: flex;
		color: #135CFD;
		font-size: 16px;
		content: '\2b';
		font-weight: 900;
		position: absolute;
		border-radius: 100%;
		align-items: center;
		background-image: none;
		justify-content: center;
		font-family: 'Font Awesome 6 free';
		transition: all 200ms ease;
		border: 1px solid #135CFD;
		border-radius: 100%;
		@media #{$xxs} {
			right: 0px;
		}
	}
	.accordion-button:not(.collapsed) { 
		color: #fff;
		box-shadow: none;
		span {
			b {
				color: rgba(255, 255, 255, .32);
			}
		}
		&:after {
			opacity: 1;
			color: #135CFD;
			content: '\f068';
			border: 1px solid #FFFFFF;
			background-color: #FFFFFF;
		}
	}
}
