.tc-price-sec {
	z-index: 1;
	margin-top: 24px;
	margin-left: 24px;
	margin-right: 24px;
	position: relative;
	&:before {
		top: 0;
		left: 0;
		z-index: -1;
		width: 100%;
		content: '';
		height: 70%;
		position: absolute;
		border-radius: 20px;
		background: linear-gradient(180deg, #DDE7FF 0%, rgba(235, 242, 255, 0) 100%);
	}
}
.tc-price-content {
	margin: 0 auto;
	max-width: 1320px;
}
.tc-price-top {
	gap: 20px;
	.tc-sec-title {
		max-width: 620px;
	}
}
.lg-price-btn {
	.nav-tabs {
		border: none;
		padding: 8px;
		background: #E0EAFF;
		border-radius: 32px;
		display: inline-block;
		box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25) inset;
		.price-btn {
			font-weight: 500;
			padding: 8px 28px;
			color: #0A0A0A;
			border-radius: 100px;
			transition: all 300ms ease-in-out;
			span {
				color: #666666;
				font-size: 13px;
			}
		}
		.nav-link {
			padding: 0;
			border: none;
			cursor: pointer;
			background-color: transparent;
			&:is(.active) {
				.price-btn {
					color: #fff;
					background-color: #135CFD;
					span {
						color: #fff;
					}
				}
			}
		}
	}
}
.tc-price-item {
	padding: 14px;
	margin-bottom: 40px;
	border-radius: 10px;
	border: 1px solid #0D266529;
	.item-title {
		border-radius: 8px;
		padding: 26px 26px 28px;
		background-color: #E0EAFF;
		.icon-title {
			gap: 12px;
			margin-bottom: 32px;
		}
		.p-icon {
			width: 48px;
			height: 48px;
			border-radius: 6px;
			background-color: #D7DEF3;
		}
		.p-text {
			color: #030F2B;
			font-size: 18px;
			font-family: var(--tc-heading);

		}
		.inner-text {
			h4 {
				color: #030F2B;
				font-size: 20px;
				font-weight: 500;
				padding-bottom: 8px;
			}
			p {
				padding-left: 35px;
				position: relative;
				&:before {
					left: 0;
					top: 12px;
					height: 1px;
					content: '';
					width: 25px;
					position: absolute;
					background-color: #41434A;
				}
			}
		}
	}
	.item-price {
		margin-top: 30px;
		margin-bottom: 32px;
		padding-bottom: 10px;
		border-bottom: 1px solid rgba(13, 38, 101, .16);
		h2 {
			font-size: 48px;
			font-weight: 500;
			sub {
				color: #41434A;
				font-size: 18px;
				font-weight: 400;
			}
		}
	}
	.item-content {
		padding: 0px 26px;
		@media #{$xxs} {
			padding: 0px;
		}
		li {
			color: #030F2B;
			margin-bottom: 15px;
			i {
				margin-right: 15px;
			}
		}
		.item-btn {
			margin-top: 35px;
			margin-bottom: 25px;
			a {
				padding: 4px;
				display: flex;
				color: #030F2B;
				font-size: 16px;
				border-radius: 8px;
				padding-left: 25px;
				align-items: center;
				background-color: #fff;
				justify-content: space-between;
				i {
					width: 40px;
					height: 40px;
					display: flex;
					border-radius: 5px;
					align-items: center;
					justify-content: center;
					background-color: #0D2665;
					transition: all 500ms ease-in-out;
				}
				&:hover {
					font-weight: 500;
					letter-spacing: 1px;
					color: var(--tc-prime-c);
					i {
						transform: rotateX(180deg);
					}
				}
			}
		}
	}
	&:is(.popular_item) {
		background-color: #0D2665;
		.item-price {
			border-bottom: 1px solid rgba(255, 255, 255, .24);
			h2 {
				color: #fff;
				sub {
					color: rgba(255, 255, 255, .7);
				}
			}
		}
		.item-content {
			li {
				color: #FFFFFF;
			}
		}
		.item-btn {
			a {
				color: #fff;
				background: linear-gradient(90deg, #5550FF 0%, #AD4BFF 100%);
				i {
					background-color: #fff;
				}
				&:hover {
					color: #fff;
				}
			}
		}
	}
}

.tc-price-more {
	border-radius: 8px;
	padding: 28px 15px 25px;
	background-color: #E9EFFF;
	a {
		color: #135CFD;
	}
}