.tc-testi-sec {
	.tc-sec-title {
		gap: 20px;
		.sec_title {
			max-width: 700px;
		}
	}
}

.tc-testi-content {
	gap: 28px;
	@media #{$xl,$lg,$md,$sm,$xs,$xxs} {
		flex-wrap: wrap;
		justify-content: center;
	}
}

.tc-testi-count {
	max-width: 340px;
	padding: 30px 32px;
	border-radius: 12px;
	background-color: #0D2665;
	@media #{$xl,$lg,$md,$sm,$xs,$xxs} {
		max-width: 100%;
	}
	span {
		font-size: 20px;
		margin-bottom: 128px;
		color: rgba(255, 255, 255, .32);
	}
	.item-text {
		h3 {
			color: #fff;
			font-size: 60px;
			font-weight: 600;
			padding-bottom: 15px;
			b {
				font-weight: 600;
			}
		}
		p {
			color: #fff;
		}
	}
}

.tc-testi-slider-wrap {
	max-width: 950px;
	@media #{$md,$sm,$xs,$xxs} {
		max-width: 100%;
	}
	.tc-testi-nav {
		gap: 12px;
		z-index: 2;
		right: 42px;
		bottom: 32px;
		position: absolute;
		@media #{$md,$sm,$xs,$xxs} {
			position: static;
			margin-top: 30px;
		}
		.tc-testi-arrow {
			width: 52px;
			height: 52px;
			color: #0D2665;
			border-radius: 100%;
			background-color: #F4F6FF;
			transition: all 500ms ease-in-out;
			@media #{$md,$sm,$xs,$xxs} {
				background-color: #fff;
			}
			&:hover {
				color: #fff;
				background-color: #0D2665;
			}
		}
	}
}
.tc-testi-item {
	@media #{$sm,$xs,$xxs} {
		flex-wrap: wrap;
	}
	.item-img {
		width: 300px;
		overflow: hidden;
		border-radius: 12px;
		img {
			transform: scale(1.3);
			transition: all 700ms ease-in-out;
		}
	}
	.item-text {
		max-width: 650px;
		padding: 50px 50px;
		border-radius: 12px;
		background-color: #fff;
		@media #{$md,$sm,$xs,$xxs} {
			max-width: 500px;
		}
		@media #{$xxs} {
			padding: 30px 20px;
		}
		li {
			opacity: 0;
			color: #FFC107;
			font-size: 16px;
			visibility: hidden;
			transform: translateX(15px);
			transition: all 500ms ease-in-out;
		}
		p {
			opacity: 0;
			color: #41434A;
			font-size: 20px;
			padding-top: 22px;
			visibility: hidden;
			padding-bottom: 35px;
			transform: translateY(50px);
			transition: all 500ms ease-in-out;
		}
		.item-author {
			opacity: 0;
			transform: translateY(50px);
			transition: all 500ms ease-in-out;
			h3 {
				color: #030F2B;
				font-size: 20px;	
				font-weight: 500;
				padding-bottom: 5px;
			}
			span {
				color: #41434A;
				font-size: 16px;
			}
		}
	}
}
.swiper-slide-active {
	.tc-testi-item {
		.item-img {
			img {
				transform: scale(1.0);
			}
		}
		.item-text {
			li {
				opacity: 1;
				visibility: visible;
				transform: translateX(0px);
				&:nth-child(1) {
					transition-delay: 50ms;
				}
				&:nth-child(2) {
					transition-delay: 100ms;
				}
				&:nth-child(3) {
					transition-delay: 150ms;
				}
				&:nth-child(4) {
					transition-delay: 200ms;
				}
				&:nth-child(5) {
					transition-delay: 250ms;
				}
			}
			p {
				opacity: 1;
				visibility: visible;
				transform: translateY(0px);
				transition-delay: 350ms;
			}
			.item-author {
				opacity: 1;
				transition-delay: 400ms;
				transform: translateY(0px);
			}
		}
	}
}