.tc-footer-sec {
	z-index: 1;
	.tc-ft-bg {
		top: 0;
		left: 0;
		z-index: -1;
		width: 100%;
		height: 100%;
	}
}
.ft-btm-text {
	z-index: 1;
	position: relative;
	&:before {
		left: 0;
		z-index: -1;
		bottom: 22px;
		width: 100%;
		content: '';
		height: 1px;
		position: absolute;
		background-color: rgba(255, 255, 255, .24);
	}
	h3 {
		a {
			color: #fff;
			line-height: 1;
			font-size: 168px;
			font-weight: 700;
			display: flex;
			justify-content: center;
			align-items: center;
			@media #{$md,$sm,$xs,$xxs} {
				font-size: 130px;
			}
			i {
				width: 0px;
				height: 0px;
				display: flex;
				margin: 0px 0px;
				border-radius: 100%;
				align-items: center;
				justify-content: center;
				background-color: #222C43;
				transition: all 500ms ease-in-out;
				@media #{$md,$sm,$xs,$xxs} {
					width: 130px;
					height: 130px;
				}
				@media #{$sm,$xs,$xxs} {
					display: none;
				}
			}
			&:hover {
				i {
					width: 168px;
					height: 168px;
					margin: 0px 30px;
				}
			}
		}
	}
}

.ra-footer3-content {
	gap: 30px 40px;
	flex-wrap: wrap;
	.brand-logo {
		max-width: 430px;
		p {
			padding-top: 35px ;
			color: rgba(255, 255, 255, .80);	
		}
	}
}
.ra3-footer-widget-wrap {
	width: 100%;
	max-width: 380px;
	justify-content: space-between;
}
.ra3-footer-widget {
	color: #fff;
	.widget-title {
		color: #3CEDB7;
		font-size: 16px;
		font-weight: 600;
		padding-bottom: 10px;
	}
	.contact-info {
		margin-bottom: 22px;
		p {
			font-size: 16px;
			max-width: 155px;
			line-height: 20px;
			opacity: .8;
		}
	}
	.menu-widget {
		li {
			margin-bottom: 8px;
			a {
				color: #fff;
				left: -15px;
				font-size: 16px;
				position: relative;
				padding-left: 15px;
				transition: all 500ms ease;
				span {
					position: relative;
					&:before {
						left: 0;
						bottom: 0;
						width: 0%;
						height: 1px;
						content: '';
						position: absolute;
						background-color: #fff;
						transition: all 500ms ease-in-out;
					}
				}
				&:before {
					left: 0;
					top: 1px;
					color: #C9F7CA;
					font-size: 14px;
					content: '\f054';
					font-weight: 900;
					position: absolute;
					transition: all 500ms ease;
					font-family: 'Font Awesome 5 Free';
					clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
				}
				&:hover {
					left: 0;
					opacity: 1;
					span {
						&:before {
							width: 100%;
						}
					}
					&:before {
						clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
					}
				}
			}
		}
		&.social_icon {
			li {
				a {
					left: -20px;
					padding-left: 22px;
					i {
						top: 4px;
						left: 0;
						opacity: 0;
						width: 30px;
						color: #135CFD;
						position: absolute;
						transition: all 500ms ease;
					}
					&:before {
						display: none;
					}
					&:hover {
						left: 0;
						i {
							opacity: 1;
						}
					}
				}
			}
		}
	}
}

.tc-footer-copyright {
	.footer-menu {
		margin-bottom: 30px;
		padding-bottom: 35px;
		border-bottom: 1px solid rgba(255, 255, 255, .20);
		ul {
			gap: 15px;
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
		}
		li {
			a {
				color: #fff;
				font-size: 20px;
				&:hover {
					color: var(--tc-prime-c);
				}
			}
		}
	}
	.copyright-text {
		flex-wrap: wrap;
		gap: 5px 15px;
		p {
			color: rgba(255, 255, 255, 0.64);
			a {
				color:	rgba(255, 255, 255, 1)
			}
		} 
		ul {
			gap: 20px;
			display: flex;
		}
		li {
			a {
				position: relative;
				color: rgba(255, 255, 255, .72);
				&:before {
					top: 10px;
					right: -15px;
					width: 8px;
					content: '';
					height: 8px;
					position: absolute;
					background-image: url(../img/icon/ic17.svg);
				}
				&:hover {
					color: #fff;
				}
			}
			&:last-child {
				a {
					&:before {
						display: none;
					}
				}
			}
		}
	}
}