/*----------------------------------------------------

1. Global Area 
2. Header Section

******* HOME PAGE 1 *******



=====================================================================*/


@import "template";
@import "header";
@import "offcanvas";
@import "search";

/*global area*/
/*----------------------------------------------------*/
@import "predefine";
/*---------------------------------------------------- */

/******* HOME PAGE 1 *******/
/*Hero area*/
/*----------------------------------------------------*/
@import "home_1/hero";
/*---------------------------------------------------- */
/*About area*/
/*----------------------------------------------------*/
@import "home_1/about";
/*---------------------------------------------------- */
/*Sponsor area*/
/*----------------------------------------------------*/
@import "home_1/sponsor";
/*---------------------------------------------------- */
/*Service area*/
/*----------------------------------------------------*/
@import "home_1/service";
/*---------------------------------------------------- */
/*why-c area*/
/*----------------------------------------------------*/
@import "home_1/why-c";
/*---------------------------------------------------- */
/*Counter area*/
/*----------------------------------------------------*/
@import "home_1/counter";
/*---------------------------------------------------- */
/*Price area*/
/*----------------------------------------------------*/
@import "home_1/price";
/*---------------------------------------------------- */
/*Work process area*/
/*----------------------------------------------------*/
@import "home_1/work-process";
/*---------------------------------------------------- */
/*case-study area*/
/*----------------------------------------------------*/
@import "home_1/case-study";
/*---------------------------------------------------- */
/*faq area*/
/*----------------------------------------------------*/
@import "home_1/faq";
/*---------------------------------------------------- */
/*Contact area*/
/*----------------------------------------------------*/
@import "home_1/contact";
/*---------------------------------------------------- */
/*Testi area*/
/*----------------------------------------------------*/
@import "home_1/testi";
/*---------------------------------------------------- */
/*Blog area*/
/*----------------------------------------------------*/
@import "home_1/blog";
/*---------------------------------------------------- */


/*Footer Section*/
/*----------------------------------------------------*/
@import "footer";
/*---------------------------------------------------- */